@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html, body {
    background-color: #BE3144;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    height: 100%;
}

.theme-grey {
    background-color: #303841;
}

.facebook-contact {
    background-color: #3b5998;
}
.github-contact {
    background-color: #333;
}
.linkedin-contact {
    background-color: #0077b5;
}
.stackoverflow-contact {
    background-color: #f48024;
}
.paypal-contact {
    background-color: #009cde;
}
.email-contact {
    background-color: #303841;
}

.white-background {
    background-color: "#fff";
}

ul {
    width: 500px;
}

li {
    font: 14pt "Roboto", sans-serif;
    color: #233142;
    text-decoration: none;
    text-transform: none;
}

.left-side {
    position: absolute;
    top: 15%;
    left: 5%;
}

.right-side {
    position: absolute;
    border-left: 2px solid #fff;
    bottom: 40%;
    right: 15%;
    padding-left: 20px;
    color: white;
    text-align: right;
}

.screenShow {
    display: inline;
}

.down-side-mobile {
    position: absolute;
    top: 20%;
}

.mobileShow {
    display: none;
}
     /* Smartphone Portrait and Landscape */
 @media only screen
 and (min-device-width : 320px)
 and (max-device-width : 960px){
     .mobileShow {
         display: inline;
     }
     .right-side {
         position: relative;
         bottom: 20%;
     }

     ul {
         width: 310px;
     }
     .screenShow {
         display: none;
     }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 660px){

    ul {
        width: 285px;
    }

    .left-side {
        top: 25%;
    }

    #freelancer-font {
        font-size: 10;
    }
}

@media only screen
and (min-device-width : 400px)
and (max-device-width : 660px){

    ul {
        width: 350px;
    }

    .left-side {
        top: 25%;
    }

    #freelancer-font {
        font-size: 10;
    }
}

@media only screen
and (min-device-width : 720px)
and (max-device-width : 960px){

    ul {
        width: 450px;
    }
}

h1 {
    line-height: 0;
    font-size: 4vw;
    font-weight: 700;
}
h3 {
    float: right;
    line-height: .3;
    font-size: 2.5vw;
    font-weight: lighter;
}
h4 {
    float: left;
    margin-left: -2%;
    font-size: 1.5vw;
    font-weight: lighter;
}
