.szene
  .image.name
    .nail
  .image.resume
    .nail
  .image.freelancer
    .nail
  .image.pycon
    .nail
  .image.gsoc
    .nail
  .image.drdo
    .nail
  .image.csi
    .nail
  .image.kivy
    .nail
  .head
    .eyes
  .body
  .table
  .laptop
  .mouse
  .notes
  .lamp
    .top
  .headphones
  .trash
    .paper.p1
    .paper.p2
    .paper.p3
    .paper.p4